.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd49c;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
}

.input-container {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.submit-btn {
  background-color: #1e2a4e;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button.submit-btn:hover {
  background-color: #3d5c8e;
}

